<%= form_tag jump_path, method: :post, id: 'opts' do |f| %>
  <div class="input-group my-3">
    <button class="btn btn-success bg-gradient" type="button" onclick="jump()">FIND ME</button>
    <input type="text" class="form-control font-monospace fw-bold text-center" placeholder="PINCODE" aria-label="Pincode" value="<%= @pincode %>" name="pincode"/>
    <button class="btn btn-primary bg-gradient" type="submit">GO</button>
  </div>
<% end %>
<%= form_tag request.path, method: :get do |f| %>
  <div class="d-none flex-column mb-2 flex-md-row justify-content-md-between">
    <div class="btn-group btn-group-sm my-1" role="group" aria-label="Vaccine Selector">
      <% %w[ANY COVISHIELD COVAXIN].each do |vac| %>
        <input type="radio" class="btn-check" value="<%= vac.upcase %>" name="vaccine" id="<%= "vac_#{vac.downcase}" %>" autocomplete="off" >
        <label class="btn btn-outline-primary" for="<%= "vac_#{vac.downcase}" %>"><%= vac.upcase %></label>
      <% end %>
    </div>
    <div class="btn-group btn-group-sm my-1" role="group" aria-label="Fee Selector">
      <% %w[ANY FREE PAID].each do |fee| %>
        <input type="radio" class="btn-check" value="<%= fee.upcase %>" name="fee" id="<%= "fee_#{fee.downcase}" %>" autocomplete="off" >
        <label class="btn btn-outline-primary" for="<%= "fee_#{fee.downcase}" %>"><%= fee.upcase %></label>
      <% end %>
    </div>
    <div class="btn-group btn-group-sm my-1" role="group" aria-label="Age Selector">
      <% ['ANY', '18+', '45+'].each do |age| %>
        <input type="radio" class="btn-check" value="<%= age.upcase.to_i %>" name="age" id="<%= "age_#{age.downcase.to_i}" %>" autocomplete="off" >
        <label class="btn btn-outline-primary" for="<%= "age_#{age.downcase.to_i}" %>"><%= age.upcase %></label>
      <% end %>
    </div>
  </div>

<% end %>

<script>
    window.jump = function () {
        const makeHiddenField = function (name, value) {
            let field = document.createElement("input");
            field.setAttribute("type", "hidden");
            field.setAttribute("name", name);
            field.setAttribute("value", value);
            return field;
        };
        window.navigator.geolocation
            .getCurrentPosition(function (pos) {
                let lat = makeHiddenField('lat', pos.coords.latitude);
                let lon = makeHiddenField('lon', pos.coords.longitude);
                let form = document.getElementById('opts');
                form.appendChild(lat);
                form.appendChild(lon);
                form.submit();
            }, function () {
                alert("Sorry, we couldn't access your location. Please try to find your pincode.")
            });
    }
</script>
