<% content_for :title do %>
  <title>Vaccination centers near <%= @title_components.join(', ') %> on TakeTheShot.in</title>
<% end %>
<div class="container">
  <header class="my-5">
    <a href="<%= root_path %>" class="text-dark text-decoration-none">
      <h1 class="display-5 text-center">Take The Shot!</h1>
    </a>

    <h2 class="text-center h5 text-muted">COVID vaccination centers
      near <span class="text-primary"><%= @title_components.join(', ') %></span></h2>

  </header>

  <%= render partial: 'dashboard/jump' %>

  <% @center_session_groups.each do |center, sessions| %>
    <div class="py-4 border-bottom border-light d-md-flex flex-md-row">
      <div class="flex-md-grow-1 d-md-flex flex-md-column justify-content-md-between">
        <!-- heading-->
        <div class="text-center text-md-start">
          <h3 class="text-uppercase h5 mb-0"><%= center.name %></h3>

          <div class="small text-muted my-1">
            Open from <%= center.open.strftime("%-l:%M%P") %> to <%= center.close.strftime("%-l:%M%P") %>
            near <%= @pincode_place_map[center.pincode].empty? ? [center.block, center.district.name].join(', ') : @pincode_place_map[center.pincode].sample.instance_eval { |p| [p.area, p.city].join(', ') } %>
            <%= center.pincode %>
          </div>

        </div>
        <!-- labels-->
        <div class="d-flex justify-content-around my-3 mb-md-0 small justify-content-md-start">
          <% sessions.map(&:vaccine).uniq.sort.each do |vaccine| %>
            <div class="border border-dark fw-bold rounded text-muted px-2 py-1 me-md-2 bg-light bg-gradient"><%= vaccine %></div>
          <% end %>
          <% sessions.map(&:min_age).uniq.sort.take(1).each do |age| %>
            <div class="border fw-bold rounded px-2 py-1 bg-light me-md-2 bg-gradient <%= age > 18 ? 'text-danger border-danger' : 'text-success border-success' %>"><%= age %>&plus;</div>
          <% end %>
          <div class="border fw-bold rounded px-2 py-1 bg-light me-md-2 bg-gradient <%= center.fee_type.to_s.upcase.strip == "FREE" ? 'text-success border-success' : 'text-danger border-danger' %>"><%= center.fee_type.to_s.upcase.strip %></div>
        </div>
      </div>

      <div class="d-flex flex-row justify-content-between align-items-center font-monospace fs-6">
        <% (Time.zone.today..(Time.zone.today + 5.days)).to_a.each do |date| %>
          <% count = sessions.select { _1.date == date }.sum(&:availability) %>
          <% empty = sessions.select { _1.date == date }.empty? %>
          <div class="text-center bg-light bg-gradient p-2 rounded ms-md-3 text-dark border border-2 <%= empty ? 'border-light' : (count.zero? ? 'border-danger' : 'border-success') %>">
            <div class="fw-bold small"><%= Date::DAYNAMES[date.wday][0..2].upcase %></div>
            <% if empty %>
              <div class="fs-5 my-1 fw-bold text-muted">&dash;</div>
            <% else %>
              <div class="fs-5 my-1 fw-bold <%= count > 0 ? 'text-success' : 'text-danger' %>"><%= count %></div>
            <% end %>
            <div class="small"><%= [date.day, date.month].join('/') %></div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  <% if @center_session_groups.empty? %>
    <div class="my-5 alert alert-warning text-center">
      Looks like we couldn't find any vaccination centers here. Please try again later, or with a different pincode or
      area.
    </div>
  <% end %>
  <div class="py-5">
    <%= render partial: 'dashboard/footer' %>
  </div>

</div>