<div class="container">
  <header class="my-5">
    <h1 class="display-5 text-center">Take The Shot!</h1>
    <% if @pincode_geodata.present? %>
      <h2 class="text-center h5 text-muted">COVID vaccination centers
        near <%= @pincode_geodata.short_list.join(', ') %></h2>
    <% end %>
  </header>

  <%= form_tag jump_path, method: :post do |f| %>
  <div class="input-group my-4">
      <!--    <button class="btn btn-success bg-gradient" type="button">FIND ME</button>-->
      <input type="text" class="form-control font-monospace fw-bold text-center" placeholder="PINCODE" aria-label="Pincode" value="<%= @pincode %>" name="pincode"/>
      <button class="btn btn-primary bg-gradient" type="submit">GO</button>
  </div>
  <% end %>

  <% @center_session_groups.each do |center, sessions| %>
    <div class="py-4 border-bottom border-light">
      <h3 class="text-uppercase h5 text-center mb-0"><%= center.name %></h3>
      <% if @geodata[center.pincode].present? %>
        <div class="small text-muted text-center">Near <%= @geodata[center.pincode].short_list.join(', ') + '.' %>
          <% unless @pincode_distance_map[center.pincode].to_i.zero? %>
            About <%= @pincode_distance_map[center.pincode].round %>&nbsp;km away.
          <% end %></div>
      <% else %>
        <div class="small text-muted text-center"><%= center.address.split(',').map(&:strip).join(', ').split(' ').map(&:strip).join(' ') %></div>
      <% end %>
      <div class="d-flex justify-content-center my-3 small">
        <% sessions.map(&:vaccine).uniq.sort.each do |vaccine| %>
          <div class="border border-dark fw-bold rounded text-muted px-2 py-1 mx-1 bg-light bg-gradient"><%= vaccine %></div>
        <% end %>
        <% sessions.map(&:min_age).uniq.sort.take(1).each do |age| %>
          <div class="border fw-bold rounded px-2 py-1 mx-1 bg-light bg-gradient <%= age > 18 ? 'text-danger border-danger' : 'text-success border-success' %>"><%= age %>&plus;</div>
        <% end %>
      </div>


      <div class="d-flex flex-row justify-content-between align-items-center font-monospace fs-6">
        <% (Time.zone.today..(Time.zone.today + 5.days)).to_a.each do |date| %>
          <% count = sessions.select { _1.date == date }.sum(&:availability) %>
          <div class="text-center bg-light bg-gradient p-2 rounded text-dark">
            <div class="fw-bold small"><%= Date::DAYNAMES[date.wday][0..2].upcase %></div>
            <% if sessions.select { _1.date == date }.empty? %>
              <div class="fs-5 my-1 fw-bold text-muted">&dash;</div>
            <% else %>
              <div class="fs-5 my-1 fw-bold <%= count > 0 ? 'text-success' : 'text-danger' %>"><%= count %></div>
            <% end %>
            <div class="small"><%= [date.day, date.month].join('/') %></div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>